@model IEnumerable<CentricTeam4.Models.Nominations>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Awardee.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dateOfRecognition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.award)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.UserProfile_userId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Awardee.Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dateOfRecognition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.award)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UserProfile_userId)
        </td>
    </tr>
}

</table>
