@model CentricTeam4.Models.userData

@{
    ViewBag.Title = "Details";
}

@using CentricTeam4.DAL;

<h2>User Details</h2>

<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.lastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.lastName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.firstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.firstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Position)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Position)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusinessUnit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusinessUnit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.hireDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hireDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bio)
        </dd>

    </dl>
</div>

@{

    var recognizedID = Model.ID;

    var overallCount = ViewBag.overallCount;
    var total = ViewBag.total;
    var excellence = ViewBag.Excellance;
    var integrity = ViewBag.Integrity;
    var stewardship = ViewBag.Stewardship;
    var culture = ViewBag.Culture;
    var commitment = ViewBag.Commitment;
    var innovation = ViewBag.Innovation;
    var balance = ViewBag.Balance;
    <h4> Leaderboard: </h4>

    <h4>Total company recognitions = @overallCount</h4>
    <h4>Total user recognitions = @total</h4>
    <h4>Excellence awards = @excellence</h4>
    <h4>Integrity awards = @integrity</h4>
    <h4>Stewardship awards = @stewardship</h4>
    <h4>Culture awards = @culture</h4>
    <h4>Commitment awards = @commitment</h4>
    <h4>Innovation awards = @innovation</h4>
    <h4>Balance awards = @balance</h4>



}


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
